

/*-------------header-------------*/

header {
	background: #c0ff4e;
	background-image: url("../img/solid.png");
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
}

h1 {
	font-size: 50px;
	color: #2E2E2E;
}

header li {
	font-size: 25px;
	color: #424242;
}

.prof {
	margin: 0 auto 90px;
}

.prof h1 {
	text-align: center;
	margin: 90px auto 70px;
}

.prof img {
	border-radius: 50%;
	margin-bottom: 50px;
}

.info {
	border-radius: 20px;
	background-color: #fff;
	width: 240px; 
	display: flex;
	margin: 0 auto;
	padding: 25px 40px 15px;
}

.que {
	text-align: center;
}

.que li {
	background: #c0ff4e;
	border-radius: 10px;
	width: 70px;
	margin-bottom: 10px;
	margin-right: 20px;
}

.ans li {
	color: #424242;
	margin-bottom: 10px;
	list-style-type: none;
}

/*headerここまで*/

/*-------------nav-------------*/
nav {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 150px;
	background: #c0ff4e;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}

.menu {
	display: flex;
	width: 1400px;
	height: 150px;
}

.menu img {
	width: 200px;
	height: 200px;
	border: 10px solid #c0ff4e;
	border-radius: 50%;
}

.menu div {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.menu-left {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	width: 500px;
	font-size: 18px;
	font-weight: bold;
	color: #2E2E2E;
	padding: 0 0 20px 40px;
}

.menu-right {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 250px;
	padding-bottom: 15px;
}


.fa-circle {
	color: #fff;
}

.fa-twitter, .fa-instagram, .fa-facebook {
	color: #2E2E2E;
}


/*navここまで*/

/*-------------main-------------*/

main {
	margin: 0 auto;
	padding: 150px 0;
}

section {
	margin: 120px auto 160px;
	width: 1374px;
}

section p {
	font-size: 16px;
	color: #848484;
}
.text {
	text-align: center;
	margin-bottom: 60px;
}

.text h1 {
	margin-bottom: 45px;
}

.pic {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pic li {
	border: 1px solid lightgray;
	border-radius: 20px;
	overflow: hidden;
	width: 450px;
	height: 450px;
	margin-right: 12px;
}

.pic li:last-child{
	margin-right: 0;
}

hr {
	width: 1350px;
	height: 7px;
	border-style: solid;
	background: #c0ff4e;
	border: none;
	margin: 0 auto;
}

.img01 { background: url(../img/love01.jpg); }
.img01:hover { background: url(../img/love01_over.jpg); }

.img02 { background: url(../img/love02.jpg); }
.img02:hover { background: url(../img/love02_over.jpg); }

.img03 { background: url(../img/love03.jpg); }
.img03:hover { background: url(../img/love03_over.jpg); }

.img04 { background: url(../img/love04.jpg); }
.img04:hover { background: url(../img/love04_over.jpg); }

.img05 { background: url(../img/love05.jpg); }
.img05:hover { background: url(../img/love05_over.jpg); }

.img06 { background: url(../img/love06.jpg); }
.img06:hover { background: url(../img/love06_over.jpg); }

.img07 { background: url(../img/love07.jpg); }
.img07:hover { background: url(../img/love07_over.jpg); }

.img08 { background: url(../img/love08.jpg); }
.img08:hover { background: url(../img/love08_over.jpg); }

.img09 { background: url(../img/love09.jpg); }
.img09:hover { background: url(../img/love09_over.jpg); }

.img10 { background: url(../img/love10.jpg); }
.img10:hover { background: url(../img/love10_over.jpg); }

.img11 { background: url(../img/love11.jpg); }
.img11:hover { background: url(../img/love11_over.jpg); }

.img12 { background: url(../img/love12.jpg); }
.img12:hover { background: url(../img/love12_over.jpg); }

.img13 { background: url(../img/love13.jpg); }
.img13:hover { background: url(../img/love13_over.jpg); }

.img14 { background: url(../img/love14.jpg); }
.img14:hover { background: url(../img/love14_over.jpg); }

.img15 { background: url(../img/love15.jpg); }
.img15:hover { background: url(../img/love15_over.jpg); }

/*mainここまで*/


/*-------------footer-------------*/
footer {
	background-color: lightgray;
	background-image: url(../img/ori.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0 0;
}

.icon {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 250px;
	margin-top: 100px;
}